html, body{
    margin: 0 auto;
    padding: 0 auto;
}
.container {
    width: 100%;
    margin: 0 auto;
  }
.topo{
    font-family: "Inter", sans-serif;
    margin: 160px 0px 160px 240px;
}
.topo h1{
    color: #101214;  
    font-weight: 700;
    font-size: 64px;
    line-height: 84px;
    letter-spacing: 1px;
}
.topo p{ 
    color: #73808D;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.5px;
}
h2{
    width: 1440px;
    height: 52px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 40px;
    font-weight: 52px;
    letter-spacing: 1px;
    margin-left: 240px;
    margin-right: 240px;
}
.container2{
    background-color: #DBECFF;
    width: 100%;
}
.central{
    display: flex;
    gap: 40px;

}
.row{
    margin: 120px 0px 140px 0px;
    width: 50%;
}
.center{
    margin: 0 auto;
    width: 75%;

}
.blue2{
    background-color: #DBECFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.columnmid1{
  margin-bottom: 120px;
}
.columnfirst{
    margin: 120px 0px 120px 0px;
}
.columnlast{
    margin:120px 0px 120px 0px;
}
.results{
    margin: 160px 574px 161px 240px;
    justify-content: center;
    flex-direction: column;

}
h3{
    width: 153px;
    height: 52px;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 52px;
    letter-spacing: 1px;
}
ul{
    width: 1106px;
    height: 171px;
}
li{
    list-style: none;
    color: #73808D;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0.5px;
}
.footer{
   background-color: #F4F6FC;
   display: flex;
   justify-content: center;
   align-items: center;
}
.project{
    background-color: #F4F6FC;
    font-family: "Inter", sans-serif;
    flex-direction: column;
    margin: 0 auto;
}
.split{
    width: 2px;
    height: 200px;
    background-color: #E7ECF4;
}
.span1{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 28px;
    font-weight: 42px;
    letter-spacing: 1px;
    /* margin: 79px 355px 79px 356px; */
}
.span2{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 28px;
    font-weight: 42px;
    letter-spacing: 1px;
    /* margin: 79px 405px 79px 359px; */
}
a{
    text-decoration: none;
    color: black;
}