html {
    margin: 0 auto;
    padding: 0;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: #cfcfcf;
}

.contenter {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

img {
    height: 100%;
    width: 100%;
}

.center {
    margin: 71px 93px 0px 93px;
    background-color: #FFFFFF;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    padding: 88px 0px 72px 0px;
    text-align: center;
}

h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
    padding: 0% 11% 3% 11%;
    margin: 0 auto;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;

}

.video iframe {
    Width: 1140px;
    Height: 643px;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 71px;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 86%;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 115px;
}

table tbody td {
    border-top: 3px solid black;
    padding: 4px;
}

footer {
    margin-top: 0px;

    background-color: #463738;

}

footer ul {
    margin: 0px;
    list-style: none;
    padding: 109px 0px 69px 93px;
}

footer li {
    padding: 36px 0px 36px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
    color: #fff;
}

.social i {
    color: #fff;
    font-size: 24px;
}

.network {
    display: flex;
    padding-left: 93px;
    gap: 12px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
    color: #fff;
    margin: 0;

    padding: 50px 0px 47px 93px;
}

#menu {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 37.5px;
    color: #fff;
}

.newsletter {
    width: 50%;
}

.newsletter-content {
    padding: 109px 0px;
}


.all {
    width: 80%;
}

.split {
    display: flex;
    flex-direction: row;
}

#newsl {
    padding: 36px 0px 36px 0px;
}

input[type=email],
select {
    width: 411px;
    height: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
}

::placeholder {
    color: #BEBBBB;
}

.privacy {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
    color: #fff;
    margin: 18px 0px 26px 0px;
}

input[type=checkbox] {
    width: 18px;
    height: 18px;
}

button {
    background-color: #78E053;
    color: white;
    width: 411px;
    height: 50px;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
}

button:hover {
    background-color: #6bc949;
}

.sobre {
    padding: 4px 0px 0px 0px;
}

.resultados {
    padding-bottom: 0px;
}

.anterior {
    padding-bottom: 0px;
}

/* trail2 */
.secondcenter {
    display: flex;
    flex: row;
    padding-bottom: 40px;
}

.trail2left {
    display: flex;
    flex-direction: column;
    width: 64%;
    padding-left: 61px;
    padding-top: 99px;
    padding-right: 109px
}

.trail2right {
    display: flex;
    flex-direction: column;
    width: 36%;
    padding-top: 223px;
    padding-right: 92px;
}

.trail2h1 {
    text-align: left;
    padding: 0px 0px 49px 14px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
}

.trail2p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.57px;
    padding: 0px 0px 55px 14px;

    color: #000;
}

.hike {
    /* width: 570px;
    height: 428px; */
    width: 100%;
    height: auto;
}

.spana {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.28px;
}

.spanb {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.57px;
    color: #8D8282;
}

.duracao {
    padding: 56px 0px 30px 0px;
}

.distancia {
    padding: 30px 0px 18px 0px;
}

.tempo {
    padding-top: 14px;
}

.eventos {
    width: 60%;
    padding: 54px 0px 0px 14px;
    display: flex;
    flex-direction: column;
}

.eventos2 {
    display: flex;
    flex-direction: row;
}

.hr1 {
    border: none;
    height: 4px;
    margin: 2px 0px;
    background: linear-gradient(to right, #009B7B 10%, rgb(226, 225, 225) 10%);
}

.hr11 {
    padding: 10px 0px 30px 0px;
}

.hr2 {
    border: none;
    margin: 2px 0px;
    height: 4px;
    background-color: rgb(226, 225, 225);
}

.dates {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.group {
    padding-left: 14px;
    flex-direction: column;
    width: 20%;
}

.group1 {
    width: 80%;
    padding: 0px;
    position: relative;
}

.next {
    padding-top: 44px;
    padding-bottom: 20px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1px;
}

.line {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-33 {
    width: 33.33%;
}

.adjust {
    background-color: #009B7B;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    align-content: center;
}

.word {
    border: 1px solid black;
    background-color: green;
    color: white;
    padding: 30px 70px;
}

.firstlinespan {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.secondlinespan {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.thirdlinespan {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.forthlinespan {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.5px;
}
.green img{
    width: 50px;
    height: auto;
}

.month {
    color: #009B7B;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 23.57px;
}

.days {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 23.57px;
}

.month2 {
    color: #009B7B;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 23.57px;
}

.days2 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 23.57px;
}

.bigdate {
    padding-top: 20px;
}

.smalldate {
    padding-top: 5px;
}

.minus2 {
    color: #B5B5B5;
    font-size: 30px;
}

.minus {
    padding-top: 8px;
}

.proximos {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1px;
}

.program {
    text-align: left;
    color: #6B6B6B;
    font-family: 'Roboto', sans-serif;
    padding: 20px 0px 0px 0px;
    line-height: normal;
    letter-spacing: 0.5px;
    font-size: 23px;
    font-weight: 700;
}

.location {
    color: #AFAFAF;
    font-family: 'Roboto', sans-serif;
    margin: 2px 0px 20px 0px;
    line-height: normal;
    letter-spacing: 0.5px;
    font-size: 14px;
    font-weight: 100;
}
/* trail3 */
form p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.57px;
    color: #000;
    padding: 0px 0px 20px 14px;
}
form input{
    width: 100%;
    height: 53px;
    border: 1px solid #9B9B9B;
}
.primeiro input{
    width: 301px;
    margin-bottom: 60px;
    margin-left: 14px;
}
.ultimo input{
    width: 301px; 
}
.osdois{
    display: flex;
    gap: 20px;
}
.primeiro ::placeholder {
    padding: 14px 0px 15px 27px;
    color: #595959;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 23.57px;
}
.ultimo ::placeholder {
    padding: 14px 0px 15px 27px;
    color: #595959;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 23.57px;
}
.mailtrail3 #email{
    margin-left: 14px;
    width: 628px;
    margin-bottom: 60px;
}
.mailtrail3 ::placeholder{
    text-align: left;
    padding: 14px 0px 15px 27px;
    color: #595959;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 23.57px;
} 
.anos #birthdate{
    margin-left: 14px;
    width: 628px;
    margin-bottom: 35px;
    
}
.escolhas{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.57px;
}
.escolhas2{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    margin-left: 14px;
}
.escolhas3{
    display: flex;
    gap: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.57px;
    height: 24px;
    margin-bottom: 20px;
    margin-left: 14px;
}
.escolhas3 label{
    padding-top: 18px;
}
#alimento{
    padding-bottom: 0px;

}
#complemento{
    padding-top: 40px;
}

#inscrever{
    margin-top: 100px;
    width: 628px;
    background-color: #009B7B;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.57px;
    letter-spacing: 1px;
    border: 1px solid #9B9B9B;
}

