html {
    margin: 0 auto;
    padding: 0;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: #cfcfcf;
}

.contenter {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

img {
    height: 100%;
    width: 100%;
}

.center {
    margin: 71px 93px 0px 93px;
    background-color: #FFFFFF;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    padding: 88px 0px 72px 0px;
    text-align: center;
}

h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
    padding: 0% 11% 3% 11%;
    margin: 0 auto;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;

}

.video iframe {
    Width: 1140px;
    Height: 643px;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 71px;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 86%;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 115px;
}

table tbody td {
    border-top: 3px solid black;
    padding: 4px;
}

footer {
    margin-top: 0px;

    background-color: #463738;

}

footer ul {
    margin: 0px;
    list-style: none;
    padding: 109px 0px 69px 93px;
}

footer li {
    padding: 36px 0px 36px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
    color: #fff;
}
.social i {
    color: #fff;
    font-size: 24px;
}

.network {
    display: flex;
    padding-left: 93px;
    gap: 12px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
    color: #fff;
    margin: 0;

    padding: 50px 0px 47px 93px;
}

#menu {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 37.5px;
    color: #fff;
}

.newsletter {
    width: 50%;
}

.newsletter-content {
  padding: 109px 0px;
}


.all {
  width: 80%;
}

.split {
    display: flex;
    flex-direction: row;
}

#newsl {
    padding: 36px 0px 36px 0px;
}

input[type=email],
select {
    width: 411px;
    height: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
}

::placeholder {
    color: #BEBBBB;
}
.privacy{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
    color: #fff;
    margin: 18px 0px 26px 0px;
}
input[type=checkbox] {
width: 18px;
height: 18px;
}
button{
    background-color: #78E053;
    color: white;
    width: 411px;
    height: 50px;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.13px;
}
button:hover{
    background-color: #6bc949;
}
.sobre{
    padding: 4px 0px 0px 0px;
}
.resultados{
    padding-bottom: 0px;
}
.anterior{
    padding-bottom: 0px;
}

/* trail2 */
.secondcenter{
    display: flex;
    flex: row;
}
.trail2left{ 
    display: flex;
    flex-direction: column;
    width: 64%;
        padding-left: 61px;
        padding-top:99px;
        padding-right: 109px
}
.trail2right{
    display: flex;
    flex-direction: column;
    width: 36%;
        padding-top: 223px;
        padding-right: 92px;
}
.trail2h1 {
    text-align: left;
    padding: 0px 0px 49px 14px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
}
.trail2p{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.57px;
    padding: 0px 0px 55px 14px;

    color: #000;
}
.hike {
    /* width: 570px;
    height: 428px; */
    width: 100%;
    height: auto;
}
.spana{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.28px;
}
.spanb{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.57px;
    color: #8D8282;
}
.duracao{
    padding: 56px 0px 30px 0px;
}
.distancia{
    padding: 30px 0px 18px 0px ;
}
.tempo{
    padding-top: 14px;
}