@import 'mixins';

body {
    @include body;
}

.contender {
    height: 100%;
    @include flex;
}

.weather {
    @include flex;
    margin: 0 auto;
    border-radius: 34px;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 50%;

    &-left {
        @include flex;
        flex-direction: column;
        background-color: #fff;
        padding: 23px 19px 25px 18px;
        width: 25%;
        border-top-left-radius: 23px;
        border-bottom-left-radius: 23px;

        h3 {
            padding: 13px 0px 18px 0px;
        }

        p {
            font-weight: 700;
            font-size: 48px;
            line-height: 65.37px;
            text-align: center;
            padding-top: 55px;
            margin: 0px 0px 8px 0px;
        }
    }

    &-right {
        @include flex;
        flex-direction: column;
        background-color: #E7D6C6;
        padding: 0px 20px 0px 21px;
        width: 75%;
        border-top-right-radius: 23px;
        border-bottom-right-radius: 23px;


        &-header {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-top: 26px;

            h1 {
                @include h1;
                padding-bottom: 18px;
            }

            input {
                border-radius: 10px;
                border-style: none;
                height: 32px;
                text-align: right;
                padding-right: 10px;
                font-weight: 300;
                font-size: 14px;
                line-height: 19.07px;
            }
        }

        &-ballon {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 13px;


            &-up {
                @include flex;
                gap: 13px;

                p {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 32.68px;
                    text-align: right;
                    margin: 0;
                    padding-bottom: 60px;
                    padding-top: 4px;
                }


                &-ballon1 {
                    padding: 12px 18px 0px 0px;
                    @include ballon;
                    // width: 184px;
                    // height: 139px;
                    text-align: right;
                    width: 33.3%;
                    padding-bottom: 2rem
                }
            }

            &-down {
                @include flex;
                gap: 13px;

                p {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 32.68px;
                    text-align: right;
                    margin: 0;
                    padding-bottom: 35px;
                    padding-top: 4px;
                }


                &-ballon2 {
                    padding: 12px 18px 0px 0px;
                    @include ballon;
                    // width: 184px;
                    // height: 139px;
                    text-align: right;
                    width: 33.3%;
                    padding-bottom: 1rem;
                }
            }

        }

        &-footer {
            padding: 22px 0px 21px 0px;
            display: flex;
            justify-content: right;
            width: 100%;
            gap: 18px;

            span {
                font-weight: 400;
                font-size: 14px;
                line-height: 19.07px;
            }

            #green {
                color: #008B1F;
            }


        }

    }
}



h2 {
    @include h2;
}

h3 {
    @include h3;
}

#humidade {
    background-image: url(../img/Humidade.png);
    background-repeat: no-repeat;
    background-position: 10% 50%;
}

#vento {
    background-image: url(../img/Vento.png);
    background-repeat: no-repeat;
    background-position: 10% 50%;
}

#bussula {
    background-image: url(../img/bussula.png);
    background-repeat: no-repeat;
    background-position: 10% 50%;
}

#visibilidade {
    background-image: url(../img/Visibilidade.png);
    background-repeat: no-repeat;
    background-position: 10% 50%;
}

#nascerdosol {
    background-image: url(../img/nascerdosol.png);
    background-repeat: no-repeat;
    background-position: 10% 50%;
}

#pordosol {
    background-image: url(../img/pordosol.png);
    background-repeat: no-repeat;
    background-position: 10% 50%;
}

body {

    .weather:hover {

        .dark-mode-font {
            color: #fff;
        }

        .dark-mode {
            background-color: #434242;
        }

        .darker-mode {
            background-color: #2F2E2E;
        }
    }
}