@import 'mixins';

body {
    @include body;
}

.contender {
    height: 100%;
    @include flex;
}

.weather {
    @include flex;
    margin: 0 auto;
    border-radius: 34px;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 60%;

    &-left {
        @include flex;
        flex-direction: column;
        background-color: #fff;
        padding: 23px 19px 25px 18px;
        width: 25%;
        border-top-left-radius: 23px;
        border-bottom-left-radius: 23px;

        h3 {
            padding: 13px 0px 18px 0px;
        }

        p {
            font-weight: 700;
            font-size: 48px;
            line-height: 65.37px;
            text-align: center;
            padding-top: 55px;
        }
    }

    &-right {
        @include flex;
        flex-direction: column;
        background-color: #E7D6C6;
        padding: 26px 20px 21px 21px;
        width: 75%;

        &-header {
            display: flex;
            justify-content: space-between;
            width: 100%;

            h1 {
                @include h1;
            }
        }

        &-ballon {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 13px;


            &-up {
                @include flex;
                gap: 13px;


                &-ballon1 {
                    padding: 12px 18px 0px 0px;
                    @include ballon;
                    // width: 184px;
                    // height: 139px;
                    text-align: right;
                    width: 33.3%;
                    padding-bottom: 2rem
                }
            }

            &-down {
                @include flex;
                gap: 13px;


                &-ballon2 {
                    padding: 12px 18px 0px 0px;
                    @include ballon;
                    // width: 184px;
                    // height: 139px;
                    text-align: right;
                    width: 33.3%;
                    padding-bottom: 1rem;
                }
            }

        }
    }
}

h2 {
    @include h2;
}

h3 {
    @include h3;
}

#humidade {
    background-image: url(../img/Humidade.png);
    background-repeat: no-repeat;

}

#vento {
    background-image: url(../img/Vento.png);
    background-repeat: no-repeat;

}

#bussula {
    background-image: url(../img/bussula.png);
    background-repeat: no-repeat;

}

#visibilidade {
    background-image: url(../img/Visibilidade.png);
    background-repeat: no-repeat;

}

#nascerdosol {
    background-image: url(../img/nascerdosol.png);
    background-repeat: no-repeat;
}

#pordosol {
    background-image: url(../img/pordosol.png);
    background-repeat: no-repeat;
    background-position: 10% 50%;

}