nav {
    width: 95%;
    height: 75px;
    border: 1px solid #000;
    background-color: #AFE241;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
ul{
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 200px;
    display: flex;
}
li{
    list-style: none;
    font-family: inter, sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 38.73px;
    padding: 20px 0px;
}
section {
    height: 248px;
    background-color: #E241BF;
    border: 1px solid #000;
    display: inline-block;
}
.li1{
    position: relative;
}

.hide1{
    padding: 0px 100px;
    position: relative;
    top: 16px;
}
.hide2{
    position: relative;
    top: 16px;
}
.hide3{

    position: relative;
    top: 16px;
}
.hide4{

    position: relative;
    top: 16px;
}
.hide5{

    position: relative;
    top: 16px;
}
.hide6{

    position: relative;
    top: 16px;
}
section{
    display: none;
}
.li1:hover .hide1{
    display: block;
}
.li2:hover .hide2{
    display: block;
}
.li3:hover .hide3{
    display: block;
}
.li4:hover .hide4{
    display: block;
}
.li5:hover .hide5{
    display: block;
}
.li6:hover .hide6{
    display: block;
}