.container {
    height: 100vh;
    background: radial-gradient(73.23% 106% at 34.94% 108.33%, #F7CBFD 0%, #7758D1 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.iphone {
    border-radius: 44px;
    height: 844px;
    width: 390px;
    margin: 0 auto;
    text-align: center;
    background-image: url(img/background.png);
    /* background: linear-gradient(168.44deg, #2E335A 1.62%, #1C1B33 95.72%); */
    box-shadow: -40px 60px 150px 0px #3B267BB2;
}

header {
    font-family: 'Poppins', sans-serif;
    color: white;
}

header h1 {
    padding-top: 98px;
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: .37px;
    margin: 0 auto;
}

header p {
    font-weight: 100;
    font-size: 96px;
    line-height: 70px;
    letter-spacing: .37px;
    margin: 12px 0px;
}

header h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: .38px;
    color: rgba(235, 235, 245, 0.6);
    margin: 0;
}

header span {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: .38px;
}

.backg img {
    width: 100%;
    margin-top: 23px;
}